<div id="<%= dom_id admin %>">
  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

  <p>
    <strong>User email:</strong>
    <%= admin.user_email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= admin.phone %>
  </p>

</div>
