<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div>
 
  <%= link_to "Back to students", request.referer.present? ? request.referer : students_path %>

</div>
<% if session[:admin]%>
<p>HI</p>
<% end %>