<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>

<div>

  <p><%= button_to "Back to students", request.referer.present? ? request.referer : students_path, method: :get %></p>

</div>
