<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @allStudents.each do |student| %>
    <%= render student %>
    <%= button_to 'Enroll', new_enrollment_path, method: :get, params: { :course_id => params[:course_id], :student_id => student.id } %>  <% end %>
</div>


