<div id="<%= dom_id instructor %>">
  <p>
    <strong>Name:</strong>
    <%= instructor.name %>
  </p>

  <p>
    <strong>User email:</strong>
    <%= instructor.user_email %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= instructor.department %>
  </p>

</div>
