<h1>Editing instructor</h1>

<%= render "form", instructor: @instructor %>

<br>

<div>

  <p><%= button_to "Back to Instructors", request.referer.present? ? request.referer : showAllInstructors_path, method: :get %></p>

</div>
