<h1>Editing instructor</h1>

<%= render "form", instructor: @instructor %>

<br>

<div>
 
<%= link_to "Back to Instructors", request.referer.present? ? request.referer : showAllInstructors_path %>

</div>
