<h1>Editing instructor</h1>

<%= render "form", instructor: @instructor %>

<br>

<div>
  <% if session[:role] == 'ADMIN' %>
    <p><%= button_to "Back to Instructors", request.referer.present? ? request.referer : showAllInstructors_path, method: :get %></p>
  <% end %>
</div>
