<h1>Student Enrollment system</h1>
<p>Tag line...</p>

<%= link_to "Instructor Signup", new_instructor_path %> or
<%= link_to "Student Signup", new_student_path %> or
<%= link_to "Login", login_path %>

