<p style="color: green"><%= notice %></p>

<h1>Enrollments</h1>

<% if session[:role] == 'STUDENT' %>
  <% enrollments = @enrollments.where(student_id: session[:id]) %>
<% elsif session[:role] == 'INSTRUCTOR' %>
  <% enrollments = @enrollments.where(course_id: Course.where(instructor_id: session[:id]).pluck(:id)) %>
<% elsif session[:role] == 'ADMIN' %>
  <% enrollments = @enrollments %>
<% end %>

<div id="enrollments">
  <% enrollments.each do |enrollment| %>
    <%= render enrollment %>
    <p>
      <%= link_to "Show this enrollment", enrollment %>
    </p>
  <% end %>
<!--  <p><%#= button_to "Back", request.referer.present? ? request.referer : admin_path, method: :get %></p>-->

</div>
