<h1>Editing course</h1>

<%= render "form", course: @course %>

<br>

<div>
  <p><%= button_to "Show this course", @course , method: :get%></p>
  <p><%= button_to "Back to courses", courses_path, method: :get %></p>
</div>
